.c-category {
    background: var(--color-black);
    padding: 2rem 0;

    .title-category {

        position: relative;
        color: var(--color-white);
        font-weight: 600;
        text-transform: uppercase;
      

      
    }

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        margin-bottom: 4rem;
        gap: 1rem;

        p {

            color: var(--color-white);
            font-weight: 400;
            opacity: 0.5;

        }

        .buttons-category {
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 1.25rem;
        }
    }

    &__body {
        display: grid;
        grid-template-columns: repeat(6, minmax(0, 1fr));
        gap: 1rem;
        .card {
          
            &__figure {
                position: relative;
                width: 100%;
                aspect-ratio: 3/4;
                overflow: hidden;
                border-radius: 0.25rem;
                border: 2px solid transparent;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    animation: .3s ease-in-out;
                }
            }

            &__title{
                color: var(--color-white);
                font-size: 0.875rem;
                margin-top: 0.75rem;
                font-weight: 500;
            }

            &__date{
                color: var(--color-white);
                font-size: 0.75em;
                opacity: 0.7;
            }


            &:hover {
                  
                .card__figure {
                    border-color: var(--color-primary);
                 
                }

                .card__title{
                    color: var(--color-primary);
                }
            }


        }
    }

    .container-filter, .container__title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

    }


    
    .container__title{
        position: relative;
        padding-bottom: 1.25rem;
        margin-bottom: 2.5rem;
        &::before {

            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0.1rem;
            background: linear-gradient(to right, var(--color-primary), var(--color-black) 70%);
            opacity: 0.9;

        }

        .c-category__ordem{
            margin-bottom: -1rem;
            p {

                color: var(--color-white);
                font-weight: 400;
                opacity: 0.5;
                margin-bottom: 1rem;
    
            }
        }
    }

    .loading{
        position: relative;
        display: block;
        height: 0.5rem;
        width: 0.5rem;
        border-radius: 9999px;
        background: var(--color-primary);
        margin: 2rem auto;
        animation: loading 1s alternate infinite;
        display: none;
        
        &::before{
            content: '';
            position: absolute;
            bottom: 0;
            left: -1rem;
            height: 0.5rem;
            width: 0.5rem;
            border-radius: 9999px;
            background: var(--color-primary);
            animation: loading 1.5s alternate infinite;
        }

        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            right: -1rem;
            height: 0.5rem;
            width: 0.5rem;
            border-radius: 9999px;
            background: var(--color-primary);
            animation: loading 1.25s alternate infinite;
        }

    }

    @keyframes loading {
        
        0%, 100% {
            transform: translateY(-0.5rem);
            
          }
          25% {
            transform: translateY(0) ;
         
          }
          50% {
            transform: translateY(0.5rem);
          
          }
          75% {
            transform: translateY(0) ;
         
          }
    }

    .paginate{
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 0.5rem;
        width: 100%;
        margin-top: 2rem;

        .next, .prev{
            color: var(--color-black);
            width: 1.75rem;
            height: 1.75rem;
            border: 1px solid var(--color-black);
            text-align: center;
            line-height: 1.75rem;
            border-radius: 0.25rem;
            background-color: var(--color-white);
            font-weight: 800;

            &:hover{
                background-color: var(--color-primary);
            }
        }

        .number{
            display: flex;
            width: max-content;
            gap: 0.25rem;

            &__item{
                color: var(--color-white);
                width: 1.75rem;
                height: 1.75rem;
                text-align: center;
            line-height: 1.75rem;
            font-weight: 500;
            border: 1px solid var(--color-white);
            border-radius: 0.25rem;
            font-size: 0.65rem;
            }
        }
    }

}